.moi{
    border: 2px black solid !important;
}


#order-col{
    background-color:#cccccc;
}

.contact-col{
    background-color:#cccccc;
}

.order-b{
    background-image: url("../img/tausta.jpg");
    background-repeat: no-repeat;
    background-size: auto;

    height: 100%;

}

.moikka{
    background-image: url("../img/tausta1.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    height: 200px;
}