.moi{
    border: 2px black solid !important;
}


#order-col{
    background-color:#cccccc;
}

.contact-col{
    background-color:#cccccc;
}

#filter-col{
    background-color: #737373;
    color: white;
}

.order-b{
    background-image: url("../img/tausta.jpg");
    background-repeat: no-repeat;
    background-size: auto;

    height: 100%;

}

.moikka{
    background-image: url("../img/tausta1.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    height: 200px;
}

#product-card{
    width: 200px;
}